target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
build-receipt.xml

*.jar
*.war
*.ear
*.zip
*.tar.gz

*.log
logs/

.idea/
*.iml
*.iws
out/

.classpath
.project
.settings/

.vscode/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
.nb-gradle/

.DS_Store
Thumbs.db
